.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  font-size: 30px;
  color: #ac4b7d;
}

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid gray;
  border-radius: 10px;
  background: gray;
  gap: 10px;
}

.card {
  border: 3px solid #6f2b4e;
  background: #ac4b7d;
  border-radius: 10px;
  gap: 5px;
}
